<div class="container">
    <div class="filters">
        <form [formGroup]="filters">
            <p-multiSelect [options]="ages" formControlName="age" placeholder="Age" [showClear]="true" [optionLabel]="'label'" [optionValue]="'value'" [filter]="true" [filterBy]="'label'" [appendTo]="'body'"></p-multiSelect>
            <p-dropdown [options]="isVaccine" optionLabel="label" formControlName="vaccine" placeholder="Vaccin" [showClear]="true" [appendTo]="'body'">
                <ng-template pTemplate="selectedItem">
                    <div *ngIf="filters.value.vaccine">
                        <div>Vaccin : {{ filters.value.vaccine.label }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <p-multiSelect [options]="countries" formControlName="countries" placeholder="Pays" [filter]="true" [showClear]="true" [appendTo]="'body'"></p-multiSelect>
            
            <span *ngIf="!display else showMore" (click)="display = true">Afficher plus</span>
            <ng-template #showMore>
                <div class="new-line">
                    <p-multiSelect class="filterElement" [options]="recommendations" formControlName="recommendation" placeholder="Recommendations" [showClear]="true" [filter]="true"></p-multiSelect>
                    <p-multiSelect class="filterElement" [options]="sex" formControlName="sex" placeholder="Sex" optionLabel="label" optionValue="value" [showClear]="true" [filter]="false"></p-multiSelect>
                    <span (click)="display = false">Afficher moins</span>
                </div>
            </ng-template>
        </form>
    </div>
    <div class="exam-list">
        <div class="exam-item" *ngFor="let exam of examList">
            <div *ngIf="exam; else exam_skeleton">
                <div class="exam-name" (click)="exam.isExpanded = !exam.isExpanded">
                    <p>{{exam.name}}</p>
                    <i style="margin-left: auto" class="pi pi-chevron-down" *ngIf="exam.isExpanded"></i>
                    <i style="margin-left: auto" class="pi pi-chevron-up" *ngIf="!exam.isExpanded"></i>
                </div>
                <div class="exam-description">
                    <p *ngIf="!exam.isExpanded else details" (click)="exam.isExpanded = !exam.isExpanded">{{exam.description}}</p>
                    <ng-template #details>
                        <p-divider align="left"><h3>Résumé</h3></p-divider>
                        <p>{{exam.description}}</p>
                        <div *ngIf="exam.bigDescription">
                            <p-divider align="left"><h3>Description</h3></p-divider>
                            <p>{{exam.bigDescription}}</p>
                        </div>
                        <div *ngIf="exam.personalBackground">
                            <p-divider align="left"><h3>Antécédents personnels</h3></p-divider>
                            <p>{{exam.personalBackground}}</p>
                        </div>
                        <div *ngIf="exam.familyBackground">
                            <p-divider align="left"><h3>Antécédents familiaux</h3></p-divider>
                            <p>{{exam.familyBackground}}</p>
                        </div>
                        <div>
                            <p-divider align="left"><h3>Informations générales</h3></p-divider>
                            <div class="flex">
                                <div class="w-6">
                                    <h4 style="text-align: center;">Sex</h4>
                                    <li *ngFor="let sex of exam.sex">
                                        {{sex == 'M' ? 'Homme' : 'Femme'}}
                                    </li>
                                </div>
                                <p-divider layout="vertical"></p-divider>
                                <div class="w-6">
                                    <h4 style="text-align: center;">Est-ce que c'est un Vaccin ?</h4>
                                    {{exam.isVaccine ? 'Oui' : 'Non'}}
                                </div>
                                
                            </div>
                            <div class="w-6" style="margin: 20px auto"><p-divider></p-divider></div>
                            <div class="flex">
                                <div class="w-6">
                                    <h4 style="text-align: center;">Âges</h4>
                                    <li *ngFor="let age of exam.age">
                                        {{age % 12 != 0 ? age + ' mois' : (age / 12) + ' ans'}}
                                    </li>
                                </div>
                                <p-divider layout="vertical"></p-divider>
                                <div class="w-6">
                                    <h4 style="text-align: center;">Pays</h4>
                                    <li *ngFor="let country of exam.countryList">
                                        {{country}}
                                    </li>
                                </div>
                            </div>
                        </div>
            <div class="flex">
              <button (click)="sendEmail(exam.name)" class="discrete-button"
                      label="Signaler ces informations" pButton
                      type="button"></button>
            </div>
                    </ng-template>
                </div>
            </div>
            <ng-template #exam_skeleton>
                <p-skeleton class="exam-name" width="10rem" styleClass="mb-2"></p-skeleton>
                <div class="exam-description">
                    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton width="10rem" height="4rem"></p-skeleton>
                </div>
            </ng-template>
        </div>
    </div>
</div>