<div class="container">
    <div class="filters">
        <form [formGroup]="filters">
            <p-multiSelect [options]="ages" formControlName="age" placeholder="Age" [showClear]="true" [filter]="true"></p-multiSelect>
            <p-dropdown [options]="isVaccine" optionLabel="label" formControlName="vaccine" placeholder="Vaccin" [showClear]="true">
                <ng-template pTemplate="selectedItem">
                    <div *ngIf="filters.value.vaccine">
                        <div>Vaccin : {{ filters.value.vaccine.label }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <p-multiSelect [options]="countries" formControlName="countries" placeholder="Pays" [filter]="true" [showClear]="true"></p-multiSelect>
            
            <span *ngIf="!display else showMore" (click)="display = true">Afficher plus</span>
            <ng-template #showMore>
                <div class="new-line">
                    <p-multiSelect class="filterElement" [options]="recommendations" formControlName="recommendation" placeholder="Recommendations" [showClear]="true" [filter]="true"></p-multiSelect>
                    <p-multiSelect class="filterElement" [options]="sex" formControlName="sex" placeholder="Sex" optionLabel="label" optionValue="value" [showClear]="true" [filter]="false"></p-multiSelect>
                    <span (click)="display = false">Afficher moins</span>
                </div>
            </ng-template>
        </form>
    </div>
    <div class="exam-list">
        <div class="exam-item" *ngFor="let exam of examList" [routerLink]="'/exam/' + exam?.id">
            <div *ngIf="exam; else exam_skeleton">
                <p class="exam-name">{{exam.name}}</p>
                <p class="exam-description">{{exam.description}}</p>
            </div>
            <ng-template #exam_skeleton>
                <p-skeleton class="exam-name" width="10rem" styleClass="mb-2"></p-skeleton>
                <div class="exam-description">
                    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton width="10rem" height="4rem"></p-skeleton>
                </div>
            </ng-template>
        </div>
    </div>
</div>