<div class="container">
    <article class="Wysiwyg">
        <div class="ezxmltext-field">
            <p>En utilisant le site sante-rappel.fr vous acceptez de respecter les conditions générales
                d'utilisation et de navigation ci-après définies.</p><a name="eztoc_1_1_1" id="eztoc_1_1_1"></a>
            <h3>À propos</h3>
            <p>sante-rappel.fr est un site Web conçu sous l’égide de <a
                    href="http://www.santepubliquefrance.fr" target="_blank">Santé publique France</a>, établissement
                public sous tutelle du Ministère chargé de la Santé. Son objectif est de répondre aux questions les plus
                courantes sur la vaccination et les vaccins en France.</p>
            <p><a tabindex="0" class="popover-link"
                    data-content="<span class=&quot;close&quot;></span><a href=&quot;/Glossaire/ANSP&quot; class=&quot;popover-text&quot;>L'Agence Nationale de Santé Publique, ou Santé publique France, est un établissement public français chargé de protéger la santé des populations.</a><a class=&quot;popover-read&quot; href=&quot;/Glossaire/ANSP&quot;>Lire la suite...</a>"
                    data-original-title="" title="">Santé publique France</a> tient à remercier les organismes qui ont
                contribué à la construction de ce site et à la production de ses contenus&nbsp;:</p>
            <ul>
                <li>L’<a tabindex="0" class="popover-link"
                        data-content="<span class=&quot;close&quot;></span><span class=&quot;popover-text&quot;>Agence Nationale de Sécurité des Médicaments et Produits de Santé : établissement public français chargé d’évaluer les risques liés aux médicaments.</span>"
                        data-original-title="" title="">Agence nationale de sécurité des médicaments</a> et des produits
                    de santé (ANSM)</li>
                <li>L’Association française de pédiatrie ambulatoire (AFPA)</li>
                <li>La Caisse nationale d’<a tabindex="0" class="popover-link"
                        data-content="<span class=&quot;close&quot;></span><a href=&quot;/Glossaire/Assurance-Maladie&quot; class=&quot;popover-text&quot;>Dispositif en charge de couvrir les risques liés à la maladie, aux accidents du travail, à l'invalidité, à la maternité et au décès.﻿</a><a class=&quot;popover-read&quot; href=&quot;/Glossaire/Assurance-Maladie&quot;>Lire la suite...</a>"
                        data-original-title="" title="">Assurance maladie</a> des travailleurs salariés (CNAMTS)</li>
                <li>La Direction générale de la santé (DGS)</li>
                <li>La <a tabindex="0" class="popover-link"
                        data-content="<span class=&quot;close&quot;></span><span class=&quot;popover-text&quot;>Haute Autorité de Santé : autorité publique indépendante à caractère scientifique. Elle contribue à renforcer la qualité du système de santé français.</span>"
                        data-original-title="" title="">Haute autorité de santé</a> (HAS)</li>
                <li>La Société de pathologie infectieuse de langue française (SPILF)</li>
                <li>La Société française de pédiatrie (SFP)</li>
                <li>Le Collège de la médecine générale (CMG)</li>
                <li>Le Comité d’éducation sanitaire et sociale de la pharmacie française (Cespharm)</li>
                <li>Le Conseil national de l’ordre des sages-femmes</li>
                <li>L’union nationale des associations familiales (UNAF)</li>
            </ul>
            <p>Santé publique France n'entretient aucun lien d'intérêt avec l'industrie pharmaceutique.</p><a
                name="eztoc_2_1_1" id="eztoc_2_1_1"></a>
            <h3>Le site sante-rappel.fr ne permet pas la réalisation d'une consultation médicale</h3>
            <p>Les informations et services proposés au sein du site sante-rappel.fr ne constituent ni
                directement, ni indirectement une consultation médicale. En aucun cas, les informations et services
                proposés ne sont susceptibles de se substituer à une consultation, une visite ou un diagnostic formulé
                par votre médecin ou peuvent être interprétées comme assurant la promotion de médicaments.</p>
            <p>Vous ne devez pas mettre en œuvre les informations disponibles sur le site sante-rappel.fr
                pour la formulation d'un diagnostic, la détermination d'un traitement ou la prise et/ou la cessation de
                la prise de médicament sans consulter préalablement un médecin généraliste ou spécialiste.</p>
            <p>Vous reconnaissez que les informations qui sont mises à votre disposition ne sont ni complètes, ni
                exhaustives et que ces informations ne traitent pas de l'intégralité des différents symptômes,
                médicaments et traitements appropriés aux pathologies et différents maux quotidiens qui vous
                intéressent.</p>
            <p>En outre, sante-rappel.fr ne garantit en aucun cas un quelconque résultat à la suite de la
                mise en application des informations et services proposés.</p>
            <p>Plus particulièrement, les résultats que vous obtenez dans le cadre des différents questionnaires
                proposés ne sont donnés qu'à titre indicatif, et ne présument pas de la qualité de votre état de santé
                actuel et/ou futur, ou à l'inverse ne peuvent remettre en cause votre état de santé.</p>
            <p>En conséquence, vous reconnaissez que la responsabilité de sante-rappel.fr ne pourra être
                recherchée au titre de l'information et des services proposés sur le site, et vous acceptez que
                l'utilisation de ces informations et services s'effectue sous votre seule et entière responsabilité,
                contrôle et direction.</p><a name="eztoc_6_1_1" id="eztoc_6_1_1"></a>
            <h3>L'utilisation et la navigation sur le site sante-rappel.fr doivent respecter les lois et
                règlements en vigueur</h3>
            <p>Vous êtes informé que l'ensemble des lois et règlements en vigueur sont applicables sur Internet. A ce
                titre, lorsque vous utilisez les services offerts sur le site sante-rappel.fr et que vous
                naviguez sur le site sante-rappel.fr, il vous appartient de respecter l'ensemble des
                réglementations applicables suivantes, et notamment :</p>
            <ul>
                <li>Les règles en matière de droits d'auteur et à de propriété industrielle tels que notamment créations
                    multimédias, logiciels, textes, articles, photos, marques déposées, base de données, images de toute
                    nature.</li>
                <li>Les personnes figurant sur les photographies sont des modèles et leur image n'est utilisée qu'à des
                    fins d'illustration.</li>
            </ul>
            <p>Santé publique France et ses partenaires possèdent l'intégralité des droits de propriété intellectuelle
                et industrielle relatifs au contenu du site sante-rappel.fr. A ce titre, il vous est <a
                    tabindex="0" class="popover-link"
                    data-content="<span class=&quot;close&quot;></span><span class=&quot;popover-text&quot;>Un rappel est le renouvellement de l'administration d'un vaccin, destiné à maintenir un bon niveau de protection.</span>"
                    data-original-title="" title="">rappel</a>é que toutes mentions relatives à l'existence de droits ne
                pourront être supprimées et que toutes reproductions, totales ou partielles, non autorisées
                constitueraient des actes de contrefaçon.</p><a name="eztoc_7_1_1" id="eztoc_7_1_1"></a>
            <h3>Garantie</h3>
            <p>De manière générale,&nbsp;Santé publique France ne garantit pas la complétude, l'exhaustivité et
                l'exactitude du contenu des informations et des services proposés sur le site
                sante-rappel.fr,&nbsp;Santé publique France mettant tous les moyens disponibles en œuvre
                afin d'offrir aux internautes un contenu de qualité.</p>
            <p>En toutes hypothèses, la responsabilité de Santé publique France, de l'un de ses partenaires ou de ses
                préposés ne pourra être recherchée au titre de l'utilisation que vous ferez des informations et des
                services proposés sur le site et/ou de votre navigation.</p>
            <p>Vous êtes engagés à respecter l'ensemble des réglementations légales et réglementaires en vigueur, et
                plus particulièrement celles visées au sein de la présente charte.</p><a name="eztoc_8_1_1"
                id="eztoc_8_1_1"></a>
            <h3>Droit d'auteur et reprise du contenu mis en ligne</h3>
            <p>Tous les contenus présents sur le site sante-rappel.fr sont couverts par le droit d'auteur.
            </p>
            <p>La reproduction d'un contenu doit être assortie de :</p>
            <ul>
                <li>l'ajout de la mention : " ... paru sur le site sante-rappel.fr". Cette mention pointera
                    grâce à un lien hypertexte directement sur le contenu ;</li>
                <li>l'ajout en bas de chaque contenu de la mention "Droits réservés"</li>
            </ul>
            <p>En outre, les informations utilisées ne doivent l'être qu'à des fins personnelles, associatives ou
                professionnelles, toute diffusion ou utilisation à des fins commerciales ou publicitaires étant exclues
                .</p>
        </div>

    </article>

</div>